body{
    background-color: rgb(17, 44, 1);
    text-align: center;
    font-size: xx-large;
}
p{
    color: aqua;
    font-size: xx-large;
}
h1{
    color: red;
    text-justify: distribute-all-lines;
    font-size: xx-large;
}

